<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Clone FS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react', 'application', 'data-turbolinks-track': 'reload' %>
=======
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
>>>>>>> dd82b751fa4af90f7ac2e057882531c35197f724
  </head>

  <body>
    <%= yield %>
  </body>
</html>
